#product {
  ion-label {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 0;
    letter-spacing: 1.5px;
  }
  .details {
    display: flex;
    justify-content: space-evenly;
  }
}
